<h1>Cocktails in the <%= category %> Category</h1>
<div class="cocktail-container">
  <% cocktails.forEach(cocktail => { %>
   <div class="cocktail">
      <img src="<%= cocktail.strDrinkThumb %>" alt="" width="150" class="cocktail-img">
     <%= cocktail.strDrink %>
     <% if (user) { %>
      <form method="POST" action="/users/<%= user.id %>/cocktails">
        <input type="hidden" name="img_url" value="<%= cocktail.strDrinkThumb %>">
        <input type="hidden" name="name" value="<%= cocktail.strDrink %>">
        <input type="submit" class="add-cocktail" value="Add to Favorites">
      </form>
     <% } %>
  </div>
  <% }) %>
</div>