<h1><%= user.first_name %>'s Liquor Cabinet</h1>

<div class="bottle-container">
  <% bottles.forEach(bottle => { %>
    <div class="bottle">
      <a href="/bottles/<%= bottle.id %>">
        <img src="<%= bottle.img_url %>" alt="" height="200">
      </a>
      <p><%= bottle.type %></p>
      <form method="POST" action="/users/<%= user.id %>/bottles/<%= bottle.id %>?_method=DELETE">
        <input type="hidden" name="id" value="<%= bottle.id %>">
        <input type="submit" value="Remove Bottle">
      </form>
    </div>
  <% }) %>

</div>